certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
editdistance==0.6.0
filelock==3.12.0
fsspec==2023.5.0
fuzzywuzzy==0.18.0
huggingface-hub==0.14.1
idna==3.3
joblib==1.1.0
Levenshtein==0.21.0
numpy==1.22.3
opencv-python==4.5.5.64
packaging==23.1
pandas==1.4.3
pathlib2==2.3.7.post1
Pillow==9.1.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-Levenshtein==0.21.0
pytils==0.4.1
pytz==2023.3
PyYAML==6.0
rapidfuzz==3.0.0
regex==2023.5.5
requests==2.27.1
scikit-learn==1.1.2
scipy==1.10.1
shiftlab-ocr==0.3.1
six==1.16.0
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
transformers==4.29.2
typing_extensions==4.1.1
tzdata==2023.3
urllib3==1.26.9
